NVIDIA_API_KEY=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

GITHUB_TOKEN=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
SUPABASE_URL=https://rgbjftjkvyrczladufln.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJnYmpmdGprdnlyY3psYWR1ZmxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2NjMxODIsImV4cCI6MjA5NzIzOTE4Mn0.-WkyfpGqAwRI-PcoJwEJCAccNDDJSdCJQ0P9v9Nz760
